<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.tugraz.ist.swe.note">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/note_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/note_icon_circle"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <receiver android:name="at.tugraz.ist.swe.widget.NoteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="at.tugraz.ist.swe.widget.NOTES_PULLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
        </receiver>
        <service android:name="at.tugraz.ist.swe.widget.NoteRemoteViewsService"

            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".TagActivity" />
        <activity
            android:name=".TagListActivity"
            android:label="@string/title_activity_tags_list"
            android:theme="@style/NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteActivity" />
        <activity
            android:name=".TrashActivity"
            android:label="@string/trash_activity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>